<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head}"></head>
	<body>
		<div th:replace="~{fragments/layout :: navigation}"></div>
		<div class="container mt-4">
			<h1 th:text="${kategorie.id} != null ? 'Kategorie bearbeiten' : 'Kategorie anlegen'"></h1>
			<form th:action="${kategorie.id} != null ? @{/admin/kategorien/{id}/bearbeiten(id=${kategorie.id})} : @{/admin/kategorien/neu}"
			method="post" th:object="${kategorie}">
				<input type="hidden" th:field="*{id}"/>
				<div class="mb-3">
					<label class="form-label">Name: </label>
					<input type="text" th:field="*{name}" class="form-control"/>
				</div>
				<div class="mb-3">
					<label class="form-label">Beschreibung: </label>
					<input type="text" th:field="*{beschreibung}" class="form-control"/>
				</div>
				<button type="submit" class="btn btn-primary">Speichern</button>
			</form>
		</div>
	</body>
</html>