<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/layout :: head}"></head>
	<body>
		<div th:replace="~{fragments/layout :: navigation}"></div>
		<div class="container mt-4">
		<h1>Unsere Kategorien</h1>
		<a th:href="@{/admin/kategorien/neu}" class="btn btn-success mb-3" sec:authorize="hasRole('ADMIN')">Neue Kategorie anlegen</a>
		<table class="table table-striped table-hover">
			<tr>
				<th>Name</th>
				<th>Beschreibung</th>
			</tr>
			<tr th:each="kategorie : ${kategorien}">
				<td th:text="${kategorie.name}"></td>
				<td th:text="${kategorie.beschreibung}"></td>
				<td sec:authorize="hasRole('ADMIN')">
					<form th:action="@{/admin/kategorien/{id}/loeschen(id=${kategorie.id})}" method="post">
						<button type="submit" class="btn btn-danger btn-sm">Löschen</button>
					</form>
				</td>
				<td sec:authorize="hasRole('ADMIN')">
					<a th:href="@{/admin/kategorien/{id}/bearbeiten(id=${kategorie.id})}" class="btn btn-warning btn-sm">Bearbeiten</a>
				</td>
			</tr>
		</table>
		</div>
	</body>
</html>