<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head}"></head>
	<body>
		<div th:replace="~{fragments/layout :: navigation}"></div>
		<div class="container mt-4">
			<h1 class="mb-4">Profil bearbeiten</h1>
			<form th:action="@{/profil/bearbeiten}" method="post" th:object="${profil}">
				<div class="mb-3">
					<label class="form-label">Straße: </label>
					<input type="text" th:field="*{strasse}" class="form-control" />
				</div>
				<div class="mb-3">
					<label class="form-label">Hausnummer: </label>
					<input type="text" th:field="*{hausnummer}" class="form-control" />
				</div>
				<div class="mb-3">
					<label class="form-label">PLZ: </label>
					<input type="text" th:field="*{plz}" class="form-control" />
				</div>
				<div class="mb-3">
					<label class="form-label">Ort: </label>
					<input type="text" th:field="*{ort}" class="form-control" />
				</div>
				<button type="submit" class="btn btn-primary">Speichern</button>
			</form>
		</div>
	</body>
</html>